<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Room Booking</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/bootstrap.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/animate.min.css" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/owl.carousel.min.css" />
    <!-- Rangeslider css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/nouislider.css" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/owl.theme.default.min.css" />
    <!-- navber css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/navber.css" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/meanmenu.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="/usr/v1/usertemplate/ui/assets/css/responsive.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/usr/v1/usertemplate/ui/assets/img/favicon.png">
</head>

<body>
    <!-- preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div th:replace="~{usr/v1/infra/usrmember/common/header :: header}"></div>

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Room boking</h2>
                        <ul>
                            <li><a href="/v1/infra/usrmember/usrIndex">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="/v1/infra/usrmember/usrHotelList">Hotel</a></li>
<!--                             <li><span><i class="fas fa-circle"></i></span><a href="/v1/infra/usrmember/usrHotelDetails">Hotel details</a> -->
                            </li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
        <!-- 폼 시작 -->
           <form name="form" method="post" action="/payment/kakaoPay"> <!-- action="/v1/infra/usrmember/usrHotelBookingUpdt" -->
           <!-- booking 테이블의 htbseq 정보 update로 넘겨주기 -->
		   <input type="hidden" name="htbseq" th:value="${bookingItem?.htbseq}">  
            <div class="row">
                <div class="col-lg-8">
                    <div class="tou_booking_form_Wrapper">
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">예약하기</h3>
                            <div class="tour_booking_form_box">
                                    <div class="row">
                                        <div class="col-lg-12" style="margin-bottom: 20px;">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input" placeholder="이름" name="htmUserName"
                                                th:value="${bookingItem?.htmUserName}" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" style="margin-bottom: 20px;">
                                                <input type="text" class="form-control bg_input" placeholder="이메일 주소" name="htmEmail"
                                                th:value="${bookingItem?.htmEmail}" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input" placeholder="휴대폰 번호" name="htmPhoneNumber"
                                                th:value="${bookingItem?.htmPhoneNumber}" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">결제 방법</h3>
                            <div class="tour_booking_form_box">
                                <div class="booking_payment_boxed">
                                    <button id="kakaoPayBtn" style="border:none; background:none;">
        								<img src="/usr/v1/usertemplate/ui/assets/image/payment_icon_yellow_small.png" alt="img">
    								</button>
                                </div>
                            </div>
                        </div>
<!--                         <div class="booking_tour_form_submit"> -->
<!--                             <div class="comment_form_submit" style="margin-top:25px;"> -->
<!--                                  <button type="button" id="paymentBtn" class="btn btn_theme btn_md">결제하기</button> -->
<!--                             </div> -->
<!--                         </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3 th:text="${hotelItem?.htName}">호텔 이름</h3> 
                                </div>
                                <div class="valid_date_area">
                                    <div class="valid_date_area_one">
                                        <h5>입실</h5>
                                        <p th:text="${#dates.format(bookingItem?.htbcheckIn,'yyyy-MM-dd')}">입실날짜</p>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5>퇴실</h5>  
                                        <p th:text="${#dates.format(bookingItem?.htbcheckOut,'yyyy-MM-dd')}">퇴실날짜</p>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5>인원 수</h5>
                                        <p>성인 2명</p> 
                                    </div>
                                </div>
                                <div class="tour_package_details_bar_price" th:each="list : ${bookingMenuList}">
                                    <h5 th:text="${list.htrRoomName}">룸이름</h5>
                                    <div class="tour_package_bar_price">
                                        <h3 th:text="${'₩' + #numbers.formatInteger(list.htrRoomPrice, 3, 'COMMA')}">금액<sub> / 1박</sub></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>결제 금액</h3>
                                </div>

                                <div class="tour_booking_amount_area">
                                    <ul>
                                        <li>상품 금액 <span th:text="${'₩' + #numbers.formatInteger(bookingItem?.htbTotalPrice, 3, 'COMMA')}"></span></li>
                                    </ul>
                                    <div class="total_subtotal_booking">
                                        <h6>총 결제 금액 <span th:text="${'₩' + #numbers.formatInteger(bookingItem?.htbTotalPrice, 3, 'COMMA')}"></span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
         </form> 
        </div> <!-- container end -->
    </section>

    <!-- Footer  -->
    <div th:replace="~{usr/v1/infra/usrmember/common/footer :: footer}"></div>
    
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                </div>
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_right">
                        <img src="/usr/v1/usertemplate/ui/assets/image/main_logo_01.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="/usr/v1/usertemplate/ui/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/usr/v1/usertemplate/ui/assets/js/bootstrap.bundle.js"></script>
    <!-- Meanu js -->
    <script src="/usr/v1/usertemplate/ui/assets/js/jquery.meanmenu.js"></script>
    <!-- owl carousel js -->
    <script src="/usr/v1/usertemplate/ui/assets/js/owl.carousel.min.js"></script>
    <!-- wow.js -->
    <script src="/usr/v1/usertemplate/ui/assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/usr/v1/usertemplate/ui/assets/js/custom.js"></script>
    <script src="/usr/v1/usertemplate/ui/assets/js/add-form.js"></script>
    <script src="/usr/v1/usertemplate/ui/assets/js/payment-form.js"></script>
    
    <!-- common.js-->
    <script src="/usr/v1/js/common.js"></script>
    
    <script>
    document.getElementById('paymentBtn').onclick = function() {
    	
    	alert("결제 완료");
    	
    	form.action = "/v1/infra/usrmember/usrHotelBookingUpdt";
    	form.submit();
    }
    
    
    $("#kakaoPayBtn").click(function (){
    	
    	alert("카카오 페이 확인");
     
    })
    

    
    
   
    
    
    
    </script>

</body>

</html>