<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8" />
    <title>Form Advanced Plugins | Dashonic - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Pichforest" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/xdm/v1/template/ui/assets/images/favicon.ico">

    <!-- plugin css -->
    <link href="/xdm/v1/template/ui/assets/libs/choices.js/public/xdm/v1/template/ui/assets/styles/choices.min.css" rel="stylesheet" type="text/css" />
    <link href="/xdm/v1/template/ui/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet">

    <!-- One of the following themes -->
    <link rel="stylesheet" href="/xdm/v1/template/ui/assets/libs/@simonwep/pickr/themes/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="/xdm/v1/template/ui/assets/libs/@simonwep/pickr/themes/monolith.min.css" /> <!-- 'monolith' theme -->
    <link rel="stylesheet" href="/xdm/v1/template/ui/assets/libs/@simonwep/pickr/themes/nano.min.css" /> <!-- 'nano' theme -->

    <!-- Bootstrap Css -->
    <link href="/xdm/v1/template/ui/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/xdm/v1/template/ui/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/xdm/v1/template/ui/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">


</head>

<style>



</style>


<body>

	<!-- <body data-layout="horizontal"> -->

	<!-- Begin page -->
	<div id="layout-wrapper">
	
		<div th:replace="~{xdm/v1/infra/include/head :: header}"></div>



		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">

			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href="index.html" class="logo logo-dark"> <span
					class="logo-sm"> <img
						src="/xdm/v1/template/ui/assets/images/logo-sm.png" alt=""
						height="22">
				</span> <span class="logo-lg"> <img
						src="/xdm/v1/template/ui/assets/images/logo-dark.png" alt=""
						height="22">
				</span>
				</a> <a href="index.html" class="logo logo-light"> <span
					class="logo-lg"> <img
						src="/xdm/v1/template/ui/assets/images/logo-light.png" alt=""
						height="22">
				</span> <span class="logo-sm"> <img
						src="/xdm/v1/template/ui/assets/images/logo-sm-light.png" alt=""
						height="22">
				</span>
				</a>
			</div>

			<button type="button"
				class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
				<i class="fa fa-fw fa-bars"></i>
			</button>

			<div data-simplebar class="sidebar-menu-scroll">

				<!--- Sidemenu -->
				<div th:replace="~{xdm/v1/infra/include/sidebar :: aside}"></div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->



		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-flex align-items-center justify-content-between">
								<div class="mb-0">
									<!-- <h6><span>page1</span> > <span>page2</span> > Default</h6> -->
									<!-- <h1>Code</h1> -->
								</div>
							</div>
						</div>
					</div>
					<!-- end page title -->

					<!--input-->
					<div class="row">
						<div class="col-12">
							<!--col-12-->
							<div class="card">
								<div
									class="card-header justify-content-between d-flex align-items-center">
									<h1>호텔 객실 정보</h1>
									<!--card-title-->
								</div>
								<!-- end card header -->

								<div class="card-body">
									<form method="post" action="/xdm/v1/infra/hotelRoom/hotelRoomUpdt" name="form" enctype="multipart/form-data">
										<div class="row"> 
											<!--col-md-8-->
											<div class="row">
												<div class="col-md-3">
													<label for="choices-single-groups" class="form-label font-size-13 text-muted">객실번호</label> 
													<input type="text" class="form-control" id="htrseq" name="htrseq" th:value="${hotelRoomItem?.htrseq}" readonly>
													<div class="valid-feedback">Looks good!</div> 
												</div>
												<div class="col-md-3">
													<label for="choices-single-groups"
														class="form-label font-size-13 text-muted">호텔번호</label>  
														<input type="text" class="form-control" name="hotel_seq" id="hotel_seq" th:value="${hotelRoomItem?.hotel_seq}"
														readonly> 
													<div class="invalid-feedback" id="userNameFeedback">이름을 입력해주세요</div>
													<div class="invalid-feedback" id="userNameRegExp">이름을 확인해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-groups"
														class="form-label font-size-13 text-muted">호텔이름</label>  
														<input type="text" class="form-control" name="htName" id="htName" th:value="${hotelRoomItem?.htName}"
														readonly>
													<div class="invalid-feedback" id="userNameFeedback">이름을 입력해주세요</div>
													<div class="invalid-feedback" id="userNameRegExp">이름을 확인해주세요</div>
												</div>
											</div>  
											
											<div class="row gy-3">
												<div class="col-md-3">
													<label for="choices-single-groups"
														class="form-label font-size-13 text-muted">객실</label> 
														<input type="text" class="form-control" name="htrRoomName" id="htrRoomName" th:value="${hotelRoomItem?.htrRoomName}">
													<div class="invalid-feedback" id="userNameFeedback">이름을 입력해주세요</div>
													<div class="invalid-feedback" id="userNameRegExp">이름을 확인해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-groups"
														class="form-label font-size-13 text-muted">객실가격</label> 
														<input type="text" class="form-control" name="htrRoomPrice" id="htrRoomPrice" 
														th:value="${hotelRoomItem?.htrRoomPrice}">
													<div class="invalid-feedback" id="userNameFeedback">이름을 입력해주세요</div>
													<div class="invalid-feedback" id="userNameRegExp">이름을 확인해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-groups"
														class="form-label font-size-13 text-muted">침대옵션</label> 
														<input type="text" class="form-control" name="bedoption" id="bedoption" th:value="${hotelRoomItem?.bedoption}">
													<div class="invalid-feedback" id="userNameFeedback">이름을 입력해주세요</div>
													<div class="invalid-feedback" id="userNameRegExp">이름을 확인해주세요</div>
												</div>
											</div>
											
											<div class="row gy-3">
                                            	 <div class="col-md-6">
                                            	 	<label for="uploadFiles" class="form-label fs--1">파일첨부</label>
													<input type="file" id="uploadFiles" name="uploadFiles" multiple class="form-control">
													<div class="invalid-feedback" id="uploadFilesFeedback"></div>
                                                </div>
                                            </div>
											
											<div class="row gy-3">
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">에어컨여부</label> 
													<select class="form-select" name="aircondNy" id="aircondNy" th:value="${hotelRoomItem?.aircondNy}">
														<option value="" th:selected="${hotelRoomItem?.aircondNy == null}">선택하세요</option>
														<option value="0" th:selected="${hotelRoomItem?.aircondNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.aircondNy == 1}">Y</option>    
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">욕실여부</label> 
													<select class="form-select" name="bathNy" id="bathNy" th:value="${hotelRoomItem?.bathNy}">
														<option value="" th:selected="${hotelRoomItem?.bathNy == null}">선택하세요</option>
														<option value="0" th:selected="${hotelRoomItem?.bathNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.bathNy == 1}">Y</option>    
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">TV여부</label> 
													<select class="form-select" name="tvNy" id="tvNy" th:value="${hotelRoomItem?.tvNy}">
														<option value="" th:selected="${hotelRoomItem?.tvNy == null}">선택하세요</option>
														<option value="0" th:selected="${hotelRoomItem?.tvNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.tvNy == 1}">Y</option>    
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
											</div>

											<div class="row gy-3">
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">와이파이여부</label> 
													<select class="form-select" name="wifiNy" id="wifiNy" th:value="${hotelRoomItem?.wifiNy}">
														<option value="" th:selected="${hotelRoomItem?.wifiNy == null}">선택하세요</option>>
														<option value="0" th:selected="${hotelRoomItem?.wifiNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.wifiNy == 1}">Y</option>    
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">커피머신여부</label> 
													<select class="form-select" name="coffeeNy" id="coffeeNy" th:value="${hotelRoomItem?.coffeeNy}">
														<option value="" th:selected="${hotelRoomItem?.coffeeNy == null}">선택하세요</option>>
														<option value="0" th:selected="${hotelRoomItem?.coffeeNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.coffeeNy == 1}">Y</option>    
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
											</div>
											
											<div class="row gy-3">
												<div class="col-md-3">
													<label for="choices-single-default"
														class="form-label font-size-13 text-muted">삭제여부</label> 
													<select class="form-select" name="htrDelNy" id="htrDelNy"  th:value="${hotelRoomItem?.htrDelNy}"disabled>
														<option value="" th:selected="${hotelRoomItem?.htrDelNy == null}">선택하세요</option>
														<option value="0" th:selected="${hotelRoomItem?.htrDelNy == 0}">N</option>
														<option value="1" th:selected="${hotelRoomItem?.htrDelNy == 1}">Y</option>     
													</select>
													<div class="invalid-feedback" id="userGenderFeedback">성별을 입력해주세요</div>
												</div>
											</div>
										

											<!------------submit icon------------>
											<div class="row gy-3">
												<div class="col-md-1">
													<a href="./0_list.html">
														<button type="button" class="btn btn-outline-primary">
															<i class="bx bx-list-ul"></i>
														</button>
													</a>
												</div>

												<div class="col-md-10"></div>
												<!-- 제출버튼 -->
												<div class="col-md-1" align="right">
													<button type="submit" class="btn btn-outline-primary" id="btnSubmit">
														<i class="bx bx-data"></i>
													</button>
												</div>
											</div>

											<!------------submit icon------------>
									</form>
									<!-- end form -->
								</div>
								<!-- end card body -->
							</div>
							<!-- end card -->
						</div>
						<!--end col-12-->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<script>
									document.write(new Date().getFullYear())
								</script>
								&copy; Dashonic.
							</div>
							<!-- <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Pichforest.com/" target="_blank" class="text-reset">Pichforest</a>
                                </div>
                            </div> -->
						</div>
					</div>
				</footer>
			</div>
			<!-- end main content-->

		</div>
		<!-- END layout-wrapper -->

		<!-- Right Sidebar -->
		<div class="right-bar">
			<div data-simplebar class="h-100">
				<div class="rightbar-title d-flex align-items-center bg-dark p-3">

					<h5 class="m-0 me-2 text-white">Theme Customizer</h5>

					<a href="javascript:void(0);"
						class="right-bar-toggle-close ms-auto"> <i
						class="mdi mdi-close noti-icon"></i>
					</a>
				</div>

				<!-- Settings -->
				<hr class="m-0" />

				<div class="p-4">
					<h6 class="mb-3">Layout</h6>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout"
							id="layout-vertical" value="vertical"> <label
							class="form-check-label" for="layout-vertical">Vertical</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout"
							id="layout-horizontal" value="horizontal"> <label
							class="form-check-label" for="layout-horizontal">Horizontal</label>
					</div>

					<h6 class="mt-4 mb-3">Layout Mode</h6>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout-mode"
							id="layout-mode-light" value="light"> <label
							class="form-check-label" for="layout-mode-light">Light</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout-mode"
							id="layout-mode-dark" value="dark"> <label
							class="form-check-label" for="layout-mode-dark">Dark</label>
					</div>

					<h6 class="mt-4 mb-3">Layout Width</h6>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout-width"
							id="layout-width-fluid" value="fluid"
							onchange="document.body.setAttribute('data-layout-size', 'fluid')">
						<label class="form-check-label" for="layout-width-fluid">Fluid</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="layout-width"
							id="layout-width-boxed" value="boxed"
							onchange="document.body.setAttribute('data-layout-size', 'boxed')">
						<label class="form-check-label" for="layout-width-boxed">Boxed</label>
					</div>

					<h6 class="mt-4 mb-3">Layout Position</h6>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="layout-position" id="layout-position-fixed" value="fixed"
							onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
						<label class="form-check-label" for="layout-position-fixed">Fixed</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="layout-position" id="layout-position-scrollable"
							value="scrollable"
							onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
						<label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
					</div>

					<h6 class="mt-4 mb-3">Topbar Color</h6>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="topbar-color"
							id="topbar-color-light" value="light"
							onchange="document.body.setAttribute('data-topbar', 'light')">
						<label class="form-check-label" for="topbar-color-light">Light</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="topbar-color"
							id="topbar-color-dark" value="dark"
							onchange="document.body.setAttribute('data-topbar', 'dark')">
						<label class="form-check-label" for="topbar-color-dark">Dark</label>
					</div>

					<div id="sidebar-setting">
						<h6 class="mt-4 mb-3 sidebar-setting">Sidebar Size</h6>

						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-size"
								id="sidebar-size-default" value="default"
								onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
							<label class="form-check-label" for="sidebar-size-default">Default</label>
						</div>
						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-size"
								id="sidebar-size-compact" value="compact"
								onchange="document.body.setAttribute('data-sidebar-size', 'md')">
							<label class="form-check-label" for="sidebar-size-compact">Compact</label>
						</div>
						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-size"
								id="sidebar-size-small" value="small"
								onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
							<label class="form-check-label" for="sidebar-size-small">Small
								(Icon View)</label>
						</div>

						<h6 class="mt-4 mb-3 sidebar-setting">Sidebar Color</h6>

						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-color"
								id="sidebar-color-light" value="light"
								onchange="document.body.setAttribute('data-sidebar', 'light')">
							<label class="form-check-label" for="sidebar-color-light">Light</label>
						</div>
						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-color"
								id="sidebar-color-dark" value="dark"
								onchange="document.body.setAttribute('data-sidebar', 'dark')">
							<label class="form-check-label" for="sidebar-color-dark">Dark</label>
						</div>
						<div class="form-check sidebar-setting">
							<input class="form-check-input" type="radio" name="sidebar-color"
								id="sidebar-color-brand" value="brand"
								onchange="document.body.setAttribute('data-sidebar', 'brand')">
							<label class="form-check-label" for="sidebar-color-brand">Brand</label>
						</div>
					</div>

					<h6 class="mt-4 mb-3">Direction</h6>

					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="layout-direction" id="layout-direction-ltr" value="ltr">
						<label class="form-check-label" for="layout-direction-ltr">LTR</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="layout-direction" id="layout-direction-rtl" value="rtl">
						<label class="form-check-label" for="layout-direction-rtl">RTL</label>
					</div>

				</div>

			</div>
			<!-- end slimscroll-menu-->
		</div>
		        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="/xdm/v1/template/ui/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/xdm/v1/template/ui/assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="/xdm/v1/template/ui/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/xdm/v1/template/ui/assets/libs/feather-icons/feather.min.js"></script>

        <!-- plugins -->
        <script src="/xdm/v1/template/ui/assets/libs/choices.js/public//xdm/v1/template/ui/assets/scripts/choices.min.js"></script>
        <script src="/xdm/v1/template/ui/assets/libs/flatpickr/flatpickr.min.js"></script>

        <!-- Modern colorpicker bundle -->
        <script src="/xdm/v1/template/ui/assets/libs/@simonwep/pickr/pickr.min.js"></script>

        <!-- init js -->
        <script src="/xdm/v1/template/ui/assets/js/pages/form-advanced.init.js"></script>
        <script src="/xdm/v1/template/ui/assets/js/pages/form-validation.init.js"></script> 
        


		<script>

		

		</script>
</body>

</html>