<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<title>User List | Dashonic - Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template"
	name="description" />
<meta content="Pichforest" name="author" />
<!-- App favicon -->
<link rel="shortcut icon"
	href="/xdm/v1/template/ui/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="/xdm/v1/template/ui/assets/css/bootstrap.min.css"
	id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="/xdm/v1/template/ui/assets/css/icons.min.css"
	rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="/xdm/v1/template/ui/assets/css/app.min.css" id="app-style"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<!-- by developer -->
<link rel="stylesheet"
	href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">


</head>

<style>
.container {
	margin-left: -20px;
}

.title th {
	font-weight: bold;
	text-align: center;
}

.contentList {
	text-align: center;
}

.form-control {
	cursor: pointer;
}
</style>


<body>

	<!-- <body data-layout="horizontal"> -->
	<!-- Begin page -->
	<div id="layout-wrapper">

		<!-- Thymeleaf의 템플릿 조각(fragment) 기능을 활용하여 외부 파일이나 템플릿의 특정 부분을 가져와서 현재 위치에 삽입하는 방식으로 동작 -->
		<div th:replace="~{xdm/v1/infra/include/head :: header}"></div>
		
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">

			<!-- LOGO -->
	        <div th:replace="~{xdm/v1/infra/include/logo :: aside}"></div>

			<button type="button"
				class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
				<i class="fa fa-fw fa-bars"></i>
			</button>

			<div data-simplebar class="sidebar-menu-scroll">

				<!--- Sidemenu -->
				<div th:replace="~{xdm/v1/infra/include/sidebar :: aside}"></div>
				
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->



		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<!-- <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">User List</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                                        <li class="breadcrumb-item active">User List</li>
                                    </ol>
                                </div>

                            </div> -->
						</div>
					</div>
					<!-- end page title -->

					<div class="row">
						<div>
							<!--  class="col-lg-12" -->
							<div class="card">
								<div class="card-body">
									<form name="form" method="post"
										action="/xdm/v1/infra/hotelRoom/hotelRoomList">
										 <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
										 <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
										<div class="row">
											<div>
												<!--  class="col-md-10" -->
												<div class="container">
													<!--input 추가-->
													<div class="row mb-3 align-items-center">
														<div class="mb-2">
															<h1>HotelRoom</h1>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shOption">
																<option value="" th:selected="${vo.shOption == null}">검색구분</option>
																<option value="1" th:selected="${vo.shOption == 1}">객실번호</option>
																<option value="2" th:selected="${vo.shOption == 2}">호텔번호</option>
																<option value="3" th:selected="${vo.shOption == 3}">호텔이름</option>
																<option value="4" th:selected="${vo.shOption == 4}">객실</option>
															</select>
														</div>
														<div class="col-md-2">
															<div class="input-group flex-nowrap ">
																<input type="text" class="form-control"
																	placeholder="검색어" aria-label="Username"
																	aria-describedby="addon-wrapping" name="shValue"
																	onkeyup="enterkey()" th:value="${vo.shValue}">
															</div>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shOptionDate">
																<option value="">선택하세요</option>
																<option value="1">등록일</option>
																<option value="2">수정일</option>
															</select>
														</div>
														<div class="col-md-2">
															<div class="input-group flex-nowrap">
																<input type="text" class="form-control"
																	placeholder="시작일" aria-label="Username"
																	aria-describedby="addon-wrapping" id="shDateStart"
																	name="shDateStart" autocomplete="off">
															</div>
														</div>
														<div class="col-md-2">
															<div class="input-group flex-nowrap">
																<input type="text" class="form-control"
																	placeholder="종료일" aria-label="Username"
																	aria-describedby="addon-wrapping" id="shDateEnd"
																	name="shDateEnd" autocomplete="off">
															</div>
														</div>
													</div>

													<div class="row mb-3 align-items-center">
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shDelNy">
																<option value="">삭제여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shaircondNy">
																<option value="">에어컨여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shbathNy">
																<option value="">욕실여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shtvNy">
																<option value="">TV여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shwifiNy">
																<option value="">와이파이여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
														<div class="col-md-2">
															<select class="form-select"
																aria-label="Default select example" name="shcoffeeNy">
																<option value="">커피머신여부</option>
																<option value="0">N</option>
																<option value="1">Y</option>
															</select>
														</div>
													</div>

													<div class="row mb-3 align-items-center">
														<div class="col-md-2" align="left">
															<!-- 검색버튼 -->
															<button type="submit" class="btn btn-outline-dark">
																<i class="uil-search"></i>
															</button>
															<!-- 뒤로가기버튼 -->
															<button type="reset" class="btn btn-outline-dark"
																id="btnReset">
																<i class="uil-corner-down-left"></i>
															</button>
														</div>
													</div>
												</div>
												<div class="row mb-3">
													<div class="col-md-2" style="padding-top: 10px;">
														<h5 class="card-title"
															th:text="'Total : ' +${vo.totalRows}"></h5>
													</div>

													<div class="col-md-8"></div>

													<div class="col-md-2">
														<select class="form-select"
															aria-label="Default select example">
															<option selected>5</option>
															<option value="1">-</option>
														</select>
													</div>
												</div>



											</div>
											<!--col-md-6 -->

											<div class="table-responsive">
												<!--리스트 시작-->

												<table class="table align-middle table-nowrap table-check">
													<thead>
														<tr class="title">
															<th scope="col" style="width: 50px;">
																<div class="form-check font-size-16">
																	<input type="checkbox" class="form-check-input"
																		id="checkAll"> <label class="form-check-label"
																		for="checkAll"></label>
																</div>
															</th>
															<th scope="col">No</th>
															<th scope="col">객실번호</th>
															<th scope="col">호텔번호</th>
															<th scope="col">호텔이름</th>
															<th scope="col">객실</th>
															<th scope="col">객실가격</th>
															<th scope="col">침대옵션</th>
															<th scope="col">에어컨</th>
															<th scope="col">욕실</th>
															<th scope="col">TV</th>
															<th scope="col">와이파이</th>
															<th scope="col">커피머신</th>
															<th scope="col">삭제여부</th>
														</tr>
														<!-- end tr -->
													</thead>
													<!-- end thead -->
													<tbody>
														<tr th:if="${#lists.isEmpty(hotelRoomList)}">
															<td colspan="17">
																<p>There are no data!</p>
															</td>
														</tr>
														<tr th:if="${!#lists.isEmpty(hotelRoomList)}"
															th:each="list : ${hotelRoomList}" class="contentList">
															<th scope="row">
																<div class="form-check font-size-16">
																	<input type="checkbox" class="form-check-input"
																		id="contacusercheck1"> <label
																		class="form-check-label" for="contacusercheck1"></label>
																</div>
															</th>
															<td></td>
															<td th:text="${list.htrseq}"></td>
															<td th:text="${list.htseq}"></td>
															<td><a
																th:href="@{/xdm/v1/infra/hotelRoom/hotelRoomMForm(htrseq=${list.htrseq})}"
																th:text="${list.htName}"> </a></td>
															<td th:text="${list.htrRoomName}"></td>
<!-- 															<td th:text="${list.htrRoomPrice}"></td> -->
															<td th:text="${#numbers.formatInteger(list.htrRoomPrice, 3, 'COMMA')}"></td>
															<td th:text="${list.bedoption}"></td>
															<td th:if="${list.aircondNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.aircondNy eq 0}" class="codeUse">Y</td>
															<td th:if="${list.bathNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.bathNy eq 0}" class="codeUse">Y</td>
															<td th:if="${list.tvNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.tvNy eq 0}" class="codeUse">Y</td>
															<td th:if="${list.wifiNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.wifiNy eq 0}" class="codeUse">Y</td>
															<td th:if="${list.coffeeNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.coffeeNy eq 0}" class="codeUse">Y</td>
															<td th:if="${list.htrDelNy eq 0}" class="codeUse">N</td>
															<td th:unless="${list.htrDelNy eq 0}" class="codeUse">Y</td>
														</tr>
														<!-- end tr -->
													</tbody>
													<!-- end tbody -->
												</table>
												<!-- end table -->
											</div>
											<!-- end table responsive -->
										</div>
										<!-- end row -->

										<div class="row g-0 text-center text-sm-start">
											<div class="gy-3 col-12 pagecol text-center">
												<ul class="pagination pagination-rounded d-inline-flex">
													<li class="page-item" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
														<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
															<i class="mdi mdi-chevron-left"></i>
            											</a>
        											</li>
        											<li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
            											<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
        											</li>
											        <li class="page-item" th:if="${vo.endPage ne vo.totalPages}">
											            <a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
											                <i class="mdi mdi-chevron-right"></i>
											            </a>
											        </li>
											    </ul>
										 </div>
										
											<!-- 하단 버튼 -->
											<div class="col-md-1 bottom-button">
												<button type="button" class="btn btn-danger">
													<i class="bi bi-x-lg"></i>
												</button>
												<button type="button" class="btn btn-danger">
													<i class="bi bi-trash"></i>
												</button>
											</div>

											<div class="col-md-10"></div>

											<div class="col-md-1 bottom-button-second">
												<button type="button" class="btn btn-success">
													<i class="bi bi-file-earmark-excel"></i>
												</button>
												<a href="/xdm/v1/infra/hotelRoom/hotelRoomForm">
													<button type="button" class="btn btn-primary">
														<i class="bi bi-plus-lg"></i>
													</button>
												</a>
											</div>
										</div>
										<!-- end row -->
								</div>
								<!-- end modal -->
								</form>
							</div>
							<!-- end card body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

			</div>
			<!-- container-fluid -->
		</div>
		<!--main-content-->
		<!-- End Page-content -->


		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<script>
							document.write(new Date().getFullYear())
						</script>
						&copy; Dashonic.
					</div>
					<div class="col-sm-6">
						<div class="text-sm-end d-none d-sm-block">
							Crafted with <i class="mdi mdi-heart text-danger"></i> by <a
								href="https://Pichforest.com/" target="_blank"
								class="text-reset">Pichforest</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->

	<!-- Right Sidebar -->
	<div class="right-bar">
		<div data-simplebar class="h-100">
			<div class="rightbar-title d-flex align-items-center bg-dark p-3">

				<h5 class="m-0 me-2 text-white">Theme Customizer</h5>

				<a href="javascript:void(0);" class="right-bar-toggle-close ms-auto">
					<i class="mdi mdi-close noti-icon"></i>
				</a>
			</div>

			<!-- Settings -->
			<hr class="m-0" />

			<div class="p-4">
				<h6 class="mb-3">Layout</h6>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout"
						id="layout-vertical" value="vertical"> <label
						class="form-check-label" for="layout-vertical">Vertical</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout"
						id="layout-horizontal" value="horizontal"> <label
						class="form-check-label" for="layout-horizontal">Horizontal</label>
				</div>

				<h6 class="mt-4 mb-3">Layout Mode</h6>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-mode"
						id="layout-mode-light" value="light"> <label
						class="form-check-label" for="layout-mode-light">Light</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-mode"
						id="layout-mode-dark" value="dark"> <label
						class="form-check-label" for="layout-mode-dark">Dark</label>
				</div>

				<h6 class="mt-4 mb-3">Layout Width</h6>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-width"
						id="layout-width-fluid" value="fluid"
						onchange="document.body.setAttribute('data-layout-size', 'fluid')">
					<label class="form-check-label" for="layout-width-fluid">Fluid</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-width"
						id="layout-width-boxed" value="boxed"
						onchange="document.body.setAttribute('data-layout-size', 'boxed')">
					<label class="form-check-label" for="layout-width-boxed">Boxed</label>
				</div>

				<h6 class="mt-4 mb-3">Layout Position</h6>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-position"
						id="layout-position-fixed" value="fixed"
						onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
					<label class="form-check-label" for="layout-position-fixed">Fixed</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="layout-position"
						id="layout-position-scrollable" value="scrollable"
						onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
					<label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
				</div>

				<h6 class="mt-4 mb-3">Topbar Color</h6>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="topbar-color"
						id="topbar-color-light" value="light"
						onchange="document.body.setAttribute('data-topbar', 'light')">
					<label class="form-check-label" for="topbar-color-light">Light</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="topbar-color"
						id="topbar-color-dark" value="dark"
						onchange="document.body.setAttribute('data-topbar', 'dark')">
					<label class="form-check-label" for="topbar-color-dark">Dark</label>
				</div>

				<div id="sidebar-setting">
					<h6 class="mt-4 mb-3 sidebar-setting">Sidebar Size</h6>

					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-size"
							id="sidebar-size-default" value="default"
							onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
						<label class="form-check-label" for="sidebar-size-default">Default</label>
					</div>
					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-size"
							id="sidebar-size-compact" value="compact"
							onchange="document.body.setAttribute('data-sidebar-size', 'md')">
						<label class="form-check-label" for="sidebar-size-compact">Compact</label>
					</div>
					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-size"
							id="sidebar-size-small" value="small"
							onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
						<label class="form-check-label" for="sidebar-size-small">Small
							(Icon View)</label>
					</div>

					<h6 class="mt-4 mb-3 sidebar-setting">Sidebar Color</h6>

					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-color"
							id="sidebar-color-light" value="light"
							onchange="document.body.setAttribute('data-sidebar', 'light')">
						<label class="form-check-label" for="sidebar-color-light">Light</label>
					</div>
					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-color"
							id="sidebar-color-dark" value="dark"
							onchange="document.body.setAttribute('data-sidebar', 'dark')">
						<label class="form-check-label" for="sidebar-color-dark">Dark</label>
					</div>
					<div class="form-check sidebar-setting">
						<input class="form-check-input" type="radio" name="sidebar-color"
							id="sidebar-color-brand" value="brand"
							onchange="document.body.setAttribute('data-sidebar', 'brand')">
						<label class="form-check-label" for="sidebar-color-brand">Brand</label>
					</div>
				</div>

				<h6 class="mt-4 mb-3">Direction</h6>

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio"
						name="layout-direction" id="layout-direction-ltr" value="ltr">
					<label class="form-check-label" for="layout-direction-ltr">LTR</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio"
						name="layout-direction" id="layout-direction-rtl" value="rtl">
					<label class="form-check-label" for="layout-direction-rtl">RTL</label>
				</div>

			</div>

		</div>
		<!-- end slimscroll-menu-->
	</div>
	<!-- /Right-bar -->

	<!-- Right bar overlay-->
	<div class="rightbar-overlay"></div>

	<!-- JAVASCRIPT -->
	<script
		src="/xdm/v1/template/ui/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/ui/assets/libs/metismenujs/metismenujs.min.js"></script>
	<script
		src="/xdm/v1/template/ui/assets/libs/simplebar/simplebar.min.js"></script>
	<script
		src="/xdm/v1/template/ui/assets/libs/feather-icons/feather.min.js"></script>

	<!-- by developer -->
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script
		src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>

	<script src="/xdm/v1/js/common.Xdm.js"></script>

	<script>
		// reset
		document.getElementById("btnReset").onclick = function() {
			form.submit();
		}

		// 달력 검색
		window.addEventListener('load', function() { // 화면이 로드 될 때 함수 안에 내용을 실행
			$.datetimepicker.setLocale('ko'); // 언어는 한국어를 사용 

			$("#shDateStart, #shDateEnd").datetimepicker({ // "시작일, 종료일"
				timepicker : false, // 시간은 보여주지 말고 
				format : 'Y-m-d', // 형식은 이렇게 보여줌
			});
		});

		//paging 
		 	goList = function (thisPage) {
				    document.querySelector("input[name=thisPage]").value = thisPage;
				    form.action = "/xdm/v1/infra/hotelRoom/hotelRoomList";
				    form.submit();
				}

		 	goList = function (thisPage) {
		 	    document.querySelector("input[name=thisPage]").value = thisPage;
		 	    document.querySelector("form[name=form]").action = "/xdm/v1/infra/hotelRoom/hotelRoomList";
		 	    document.querySelector("form[name=form]").submit();
		 	}
	</script>



</body>

</html>