    <!-- Header Area -->
    <header class="main_header_arae">
        <!-- Top Bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row align-items-center">
                   <div class="col-lg-6 col-md-6">
			        <ul class="topbar-list">
			            <th:block th:if="${session.sessSeqUsr != null}"> <!-- seq 세션 정보가 있을 때 -->
			                <li th:text="${session.sessNameUsr} + ' 님 '"></li> <!-- 이름 + '님' 보여주기 -->
			                <li th:text="${session.sessEmailUsr}"></li> <!-- 이메일 보여주기 -->
			            </th:block>
			            <th:block th:if="${session.sessSeqUsr == null}"> <!-- seq 세션 정보가 없을 때 -->
			                <li>로그인해주세요</li> <!-- 로그아웃 시 표시 --> <!-- 로그인해주세요 보여주기 -->
			            </th:block>
			        </ul>       
			       </div>   
                   <div class="col-lg-6 col-md-6">
			        <ul class="topbar-others-options">
			            <th:block th:if="${session.sessSeqUsr == null}">
			                <li><a href="/v1/infra/usrmember/usrSignin">Sign in</a></li>
			                <li><a href="/v1/infra/usrmember/usrSignup">Sign up</a></li>
			            </th:block>
			            <th:block th:if="${session.sessSeqUsr != null}">
 							<li id="logoutBtn" style="color:#fff;cursor:pointer;"><a>Logout</a></li>
			            </th:block>
			        </ul>
			    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Bar -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="/v1/infra/usrmember/usrIndex">
                                <img src="/usr/v1/usertemplate/ui/assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/v1/infra/usrmember/usrIndex">
                            <img src="/usr/v1/usertemplate/ui/assets/image/main_logo.png" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                 <li class="nav-item">
                                    <a href="/v1/infra/usrmember/usrHotelList" class="nav-link">
                                        호텔
<!--                                         <i class="fas fa-angle-down"></i> -->
                                    </a>
                                <li class="nav-item">
                                	<a href="/usr/v1/infra/usrmember/usrHotelBookingHistory" class="nav-link">
                                        예약 내역
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <a href="#" class="search-box"><i class="fas fa-search"></i></a>
                                </div>
                                <div class="option-item">
                                    <a href="contact.html" class="btn  btn_navber">Get free quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>