<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.codegroup.CodeGroupDao">

	<resultMap type="com.ador.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj"> <!-- 쿼리를 작동시키는 id -->
		SELECT  
			a.ifcgSeq,
	        a.ifcgName,
	        a.ifcgUseNy,
	        a.ifcgOrder,
	        a.ifcgDelNy,
	        a.ifcgDesc,
	        a.regDateTime,
	        a.regDateTimeRevise
		FROM
			newjeans.codegroup a
		ORDER BY 
			a.ifcgSeq desc 
	</select>
	
	<insert id="insert">
		insert into codegroup (
	        ifcgName,
	        ifcgUseNy,
	        ifcgOrder,
	        ifcgDelNy,
	        ifcgDesc,
	        regDateTime,
	        regDateTimeRevise
		) values ( 
			#{ifcgName},
		    #{ifcgUseNy},
		    #{ifcgOrder},
		    0, 
		    #{ifcgDesc},
		    now(),
			now()
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT  
			a.ifcgSeq,
	        a.ifcgName, 
	        a.ifcgUseNy,
	        a.ifcgOrder,
	        a.ifcgDelNy,
	        a.ifcgDesc,
	        a.regDateTime,
	        a.regDateTimeRevise
		FROM
			newjeans.codegroup a
	    WHERE 1=1
	    	AND a.ifcgSeq = #{ifcgSeq}
	</select>
	
	<update id="update">
		UPDATE codegroup
		SET
	        ifcgName = #{ifcgName},
	        ifcgUseNy = #{ifcgUseNy},
	        ifcgOrder = #{ifcgOrder},
	        ifcgDelNy = 0,
	        ifcgDesc = #{ifcgDesc}, 
	        regDateTimeRevise = now()
	    WHERE 1=1
	    	AND ifcgSeq = #{ifcgSeq}
	</update>
	
	<!-- 삭제 -->
	<update id="uelete"> 
		UPDATE codegroup
		SET
	        ifcgDelNy = 1
	    WHERE 1=1
	    	AND ifcgSeq = #{ifcgSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM codegroup
		WHERE 1=1
			AND ifcgSeq = #{ifcgSeq}
	</delete>
	
	
	

</mapper>

