<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.code.CodeDao">

	<resultMap type="com.ador.infra.code.CodeDto" id="codeResultMapObj"></resultMap>
	
	<select id="codeSelectList" resultMap="codeResultMapObj">
		select
			b.ifcdSeq,
		    b.ifcdName,
		    b.ifcdUseNy,
		    b.ifcdOrder,
		    b.ifcdDesc,
		    b.ifcdDelNy,
		    b.registerDate,
		    b.reviseDate, 
		    b.codegroup_ifcgSeq
		from
			code b
		order by
			b.ifcdSeq desc
	</select>
	
	<!-- codegroup, code 연결 -->
	<select id="selectListCode" resultMap="codeResultMapObj">
		select
			a.ifcgSeq,
		    a.ifcgName
		from
			codegroup a
		where 1=1 
			and a.ifcgDelNy = 0
		order by  
			a.ifcgOrder desc
	</select>
	
	<insert id="codeInsert">
		insert into code (
			ifcdName,
		    ifcdUseNy,
		    ifcdOrder,
		    ifcdDesc,
		    ifcdDelNy,
		    registerDate,
		    reviseDate, 
		    codegroup_ifcgSeq
		) values (
			#{ifcdName},
			#{ifcdUseNy},
			#{ifcdOrder},
			#{ifcdDesc},
			0,
			now(),
			now(),
			#{codegroup_ifcgSeq}
		)
	</insert>
	
	<!-- selectOne -->
	<select id="codeSelectOne" resultMap="codeResultMapObj">
		select
			b.ifcdSeq,
		    b.ifcdName,
		    b.ifcdUseNy,
		    b.ifcdOrder,
		    b.ifcdDesc,
		    b.ifcdDelNy,
		    b.registerDate,
		    b.reviseDate, 
		    b.codegroup_ifcgSeq
		from
			code b
		where 1=1
 			and b.ifcdSeq = #{ifcdSeq}
	</select>
	
	<update id="codeUpdate">
		UPDATE code
		SET
	        ifcdName = #{ifcdName},
	        ifcdUseNy = #{ifcdUseNy},
	        ifcdOrder = #{ifcdOrder},
	        ifcdDelNy = #{ifcdDelNy},
	        ifcdDesc = #{ifcdDesc},
	        reviseDate = now()
	    WHERE 1=1
	    	AND ifcdSeq = #{ifcdSeq}
	</update>
	
	
	
	   
</mapper>