<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.hotelreview.HotelReviewDao">

	<resultMap type="com.ador.infra.hotelreview.HotelReviewDto" id="resultMapObj"></resultMap>
	
	<select id="hotelReviewList" resultMap="resultMapObj">
		select
			a.htreseq,
			a.htrId,
			a.htrestars,
			a.htrecomments,
			a.htreRegDate,
			a.hotel_seq,
			a.hotelmember_htmSeq,
		    b.htmSeq,
		    b.htmId,
		    b.htmEmail,
		    c.htseq,
		    c.htName
		from 
			hotelreview as a
		left join hotelmember as b 
			on b.htmSeq = a.hotelmember_htmSeq
		left join hotel as c 
			on c.htseq = a.hotel_seq
		where 1=1     
			and c.htseq = #{htseq} 
		order by
			a.htreseq desc
	</select>
	
	<insert id="hotelReviewInsert">
		insert into hotelreview (
			htrestars,
			htrecomments,	
			htreRegDate,
			htrId,
			hotel_seq,
			hotelmember_htmSeq
		) values (
			#{htrestars},
			#{htrecomments},
			now(),
			#{htrId},
			#{hotel_seq},
			#{hotelmember_htmSeq}
		)
	</insert>
	
	<!-- 최신 리뷰 조회 -->
<!-- 	<select id="findLatestReviewByUser" resultMap="resultMapObj"> -->
<!-- 	    SELECT * -->
<!-- 	    FROM  -->
<!-- 	    	hotelreview -->
<!-- 	    WHERE  -->
<!-- 	    	htrId = #{htrId} AND  -->
<!-- 	    	hotel_seq = #{hotelSeq} -->
<!-- 	    ORDER BY  -->
<!-- 	    	htreRegDate DESC -->
<!-- 	    LIMIT 1 -->
<!-- 	</select> -->
	
	   
	
	
	
	
	
	  
	

</mapper>

