<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.hotelreview.HotelReviewDao">

	<resultMap type="com.ador.infra.hotelreview.HotelReviewDto" id="resultMapObj"></resultMap>
	
	<select id="hotelReviewList" resultMap="resultMapObj">
		select
			a.htreseq,
			a.htrestars,
			a.htrecomments,
			a.htreRegDate,
			a.hotel_seq,
			a.hotelmember_htmSeq,
		    b.htmSeq,
		    b.htmId,
		    b.htmEmail,
		    c.htseq,
		    c.htName
		from 
			hotelreview a
		left join 
			hotelmember b on b.htmSeq = a.hotelmember_htmSeq
		left join 
			hotel c on c.htseq = a.hotel_seq
		where 1=1     
			and c.htseq = #{htseq}
		order by
			a.htreseq desc
	</select>
	
<!-- 	<insert id="hotelReviewInsert"> -->
<!-- 		insert into hotelreview ( -->
<!-- 			hotel_seq, -->
<!-- 			hotelmember_htmSeq, -->
<!-- 			htrestars, -->
<!-- 			htrecomments,	 -->
<!-- 			htreRegDate, -->
<!-- 			htmId, -->
<!-- 			htmEmail       -->
<!-- 		) values ( -->
<!-- 			#{hotel_seq}, -->
<!-- 			#{hotelmember_htmSeq}, -->
<!-- 			#{htrestars}, -->
<!-- 			#{htrecomments}, -->
<!-- 			now(), -->
<!-- 			#{htmId}, -->
<!-- 			#{htmEmail} -->
<!-- 		) -->
<!-- 	</insert>   -->
	        
	<insert id="hotelReviewInsert">
		insert into hotelreview (
			htrestars,
			htrecomments,	
			htreRegDate
		) values (
			#{htrestars},
			#{htrecomments},
			now()
		)
	</insert>          
	   
	
	
	
	
	
	  
	

</mapper>

