<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.hotelRoom.HotelRoomDao">

	<resultMap type="com.ador.infra.hotelRoom.HotelRoomDto" id="resultMapObj"></resultMap> 
	
	<sql id="selectCommon">
		from hotelroom a
		left join hotel b on a.hotel_seq = b.htseq
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND htrDelNy = #{shDelNy}</if> <!-- 삭제 여부 -->
			<if test="shaircondNy != null and !shaircondNy.equals('')">AND aircondNy = #{shaircondNy}</if> <!-- 에어컨 -->
			<if test="shbathNy != null and !shbathNy.equals('')">AND bathNy = #{shbathNy}</if> <!-- 욕실 -->
			<if test="shtvNy != null and !shtvNy.equals('')">AND tvNy = #{shtvNy}</if> <!-- TV -->
			<if test="shwifiNy != null and !shwifiNy.equals('')">AND wifiNy = #{shwifiNy}</if> <!-- 와이파이 -->
			<if test="shcoffeeNy != null and !shcoffeeNy.equals('')">AND coffeeNy = #{shcoffeeNy}</if> <!-- 커피머신 --> 
			
			<!-- 검색 구분 -->
			<choose> 
				<when test="shOption == 1">AND htrseq = #{shValue}</when>
				<when test="shOption == 2">AND htseq = #{shValue}</when>
				<when test="shOption == 3">AND htName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 4">AND htrRoomName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose> 
	</sql>
	
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon"/>	
	</select>
	
	<select id="selectRoomList" resultMap="resultMapObj"> 
		select aa.* from (
		select
			a.htrseq,
			a.htrRoomName,
			a.htrRoomPrice,
			a.htrStay,
			a.bedoption,
			a.aircondNy,
			a.bathNy,
			a.tvNy,
			a.wifiNy,
			a.coffeeNy,
			a.htrDelNy,
		    a.hotel_seq,
		    b.htseq,
		    b.htName,
		    b.htAddress,
		    b.htStarSearch,
		    b.htNotice
		<include refid="selectCommon"/>
		order by 
			a.htrseq desc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<insert id="selectRoomInsert">
		insert into hotelroom (
			htrRoomName,
			htrRoomPrice,
			htrStay,
			bedoption,
			aircondNy,
			bathNy,
			tvNy,
			wifiNy,
			coffeeNy,
			htrDelNy,
			hotel_seq
		) values (
			#{htrRoomName},
			#{htrRoomPrice},
			#{htrStay},
			#{bedoption},
			#{aircondNy},
			#{bathNy},
			#{tvNy},
			#{wifiNy},
			#{coffeeNy},
			0,
			#{hotel_seq}
		)
	</insert>
	
	<select id="selectRoomSelectOne" resultMap="resultMapObj">
		select
			a.htrseq,
			a.htrRoomName,
			a.htrRoomPrice,
			a.htrStay,
			a.bedoption,
			a.aircondNy,
			a.bathNy,
			a.tvNy,
			a.wifiNy,
			a.coffeeNy,
			a.htrDelNy,
			a.hotel_seq,
		    b.htseq,
		    b.htName,
		    b.htAddress,
		    b.htStarSearch,
		    b.htNotice
    	from hotelroom a
    		 left join hotel b on a.hotel_seq = b.htseq
    	where 1=1
    	 	 and a.htrseq = #{htrseq}
	</select>
	
	<update id="selectRoomUpdate">
		update hotelroom
		set 
			htrRoomName = #{htrRoomName},
			htrRoomPrice = #{htrRoomPrice},
			bedoption = #{bedoption},
			aircondNy = #{aircondNy},
			bathNy = #{bathNy},
			tvNy = #{tvNy},
			wifiNy = #{wifiNy},
			coffeeNy = #{coffeeNy},
			htrDelNy = 0
		where 1=1
			and htrseq = #{htrseq}
	</update>
	
	<!-- S3 파일 업로드 -->
	<insert id="insertUploaded">
		insert into hoteluploaded (
			htutype,
			htudefaultNy,
			htusort,
			htupath,
			htuoriginalName,
			htuuuidName,
			htuext,
			htusize,
			htudelNy,
			htupseq,
	 		hturegIp,
		 	hturegSeq,
		 	hturegDeviceCd,
			hturegDateTime,
		 	hturegDateTimeSvr
		) values (
			#{htutype},
			#{htudefaultNy},
			#{htusort},
			#{htupath},
			#{htuoriginalName},
			#{htuuuidName},
			#{htuext},
			#{htusize},
			0,
			#{htupseq},
			#{hturegIp},
			#{hturegSeq},
			#{hturegDeviceCd},
			#{hturegDateTime},
			#{hturegDateTimeSvr} 
		)
	</insert>
	
		
	

	  
	

	
	

</mapper>

