<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.hotelRoom.HotelRoomDao">

	<resultMap type="com.ador.infra.hotelRoom.HotelRoomDto" id="resultMapObj"></resultMap>
	
	<select id="selectRoomList" resultMap="resultMapObj">
		select
			a.htrseq,
			a.htrRoomName,
			a.htrRoomPrice,
			a.htrStay,
			a.bedoption,
			a.aircondNy,
			a.bathNy,
			a.tvNy,
			a.wifiNy,
			a.coffeeNy,
			a.htrDelNy,
			b.htseq,
    		b.htName,
    		a.hotel_seq
		from hotelroom a
		left join hotel b on a.hotel_seq = b.htseq
		order by 
			a.htrseq desc
	</select>
	
	<insert id="selectRoomInsert">
		insert into hotelroom (
			htrseq,
			htrRoomName,
			htrRoomPrice,
			htrStay,
			bedoption,
			aircondNy,
			bathNy,
			tvNy,
			wifiNy,
			coffeeNy,
			htrDelNy,
			hotel_seq
		) values (
			#{htrseq},
			#{htrRoomName},
			#{htrRoomPrice},
			#{htrStay},
			#{bedoption},
			#{aircondNy},
			#{bathNy},
			#{tvNy},
			#{wifiNy},
			#{coffeeNy},
			0,
			#{hotel_seq}
		)
	</insert>
	
	<select id="selectRoomSelectOne" resultMap="resultMapObj">
		select
			a.htrseq,
			a.htrRoomName,
			a.htrRoomPrice,
			a.htrStay,
			a.bedoption,
			a.aircondNy,
			a.bathNy,
			a.tvNy,
			a.wifiNy,
			a.coffeeNy,
			a.htrDelNy,
			b.htseq,
    		b.htName,
    		a.hotel_seq
    	from hotelroom a
    		 left join hotel b on a.hotel_seq = b.htseq
    	where 1=1
    	 	 and a.htrseq = #{htrseq}
	</select>
	
	<update id="selectRoomUpdate">
		update hotelroom
		set 
			htrRoomName = #{htrRoomName},
			htrRoomPrice = #{htrRoomPrice},
			bedoption = #{bedoption},
			aircondNy = #{aircondNy},
			bathNy = #{bathNy},
			tvNy = #{tvNy},
			wifiNy = #{wifiNy},
			coffeeNy = #{coffeeNy},
			htrDelNy = 0
		where 1=1
			and htrseq = #{htrseq}
	</update>
	
	

	  
	

	
	

</mapper>

