<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.hotelmember.HotelMemberDao">

	<resultMap type="com.ador.infra.hotelmember.HotelMemberDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM
			newjeans.hotelmember a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND htmDelNy = #{shDelNy}</if>
			<if test="shRegAgreeContent != null and !shRegAgreeContent.equals('')">AND htmRegAgreeContentNy = #{shRegAgreeContent}</if>
			
			<!-- 달력 -->
			<choose>
				<when test="shOptionDate == 1">AND a.htmRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> 
				<when test="shOptionDate == 2">AND a.htmEditMemberDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> 
			</choose>
			
			<!-- 검색 구분 -->
			<choose> 
				<when test="shOption == 1">AND htmSeq = #{shValue}</when>
				<when test="shOption == 2">AND htmUserName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND htmGender LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 4">AND htmGrade LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 5">AND htmEmail LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 6">AND htmPhoneNumber LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 7">AND htmId LIKE CONCAT('%',#{shValue},'%')</when>
			</choose> 
	</sql>
	
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon"/>	
	</select>
	
	<!-- selectList -->    
	<select id="memberSelectList" resultMap="resultMapObj">
		select aa.* from (
		SELECT  
			a.htmSeq,
	        a.htmUserName,
	        a.htmGender,
	        a.htmBirth,
	        a.htmId,
	        a.htmPassword,
	        a.htmPhoneNumber,
	        a.htmEmail,
	        a.htmAddress,
	        a.htmDetailedAddress,
	        a.htmZipCode,
	        a.htmRegDate,
	        a.htmGrade,
	        a.htmRegAgreeContentNy,
	        a.htmEditMemberDate,
	        a.htmDelNy,
	        a.htmDesc
	    <include refid="selectCommon"/>
		ORDER BY 
			a.htmSeq desc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<!-- insert -->
	<insert id="memberInsert">
		insert into hotelmember (
			htmUserName,
	        htmGender,
	        htmBirth,
	        htmId,
	        htmPassword,
	        htmPhoneNumber,
	        htmEmail,
	        htmAddress,
	        htmDetailedAddress,
	        htmZipCode,
	        htmRegDate,
	        htmGrade,
	        htmRegAgreeContentNy,
	        htmEditMemberDate,
	        htmDelNy,
	        htmDesc
		) values (
			#{htmUserName},
			#{htmGender},
			#{htmBirth},
			#{htmId},
			#{htmPassword},
			#{htmPhoneNumber},
			#{htmEmail},
			#{htmAddress},
			#{htmDetailedAddress},
			#{htmZipCode},
			now(),
			#{htmGrade},
			#{htmRegAgreeContentNy},
			now(),
			0,
			#{htmDesc}
		)
	</insert>
	
	<!-- selectOne -->
	<select id="memberSelectOne" resultMap="resultMapObj">
		SELECT  
			a.htmSeq,
	        a.htmUserName,
	        a.htmGender,
	        a.htmBirth,
	        a.htmId,
	        a.htmPassword,
	        a.htmPhoneNumber,
	        a.htmEmail,
	        a.htmAddress,
	        a.htmDetailedAddress,
	        a.htmZipCode,
	        a.htmRegDate,
	        a.htmGrade,
	        a.htmRegAgreeContentNy,
	        a.htmEditMemberDate,
	        a.htmDelNy,
	        a.htmDesc
		FROM
			newjeans.hotelmember a	
		WHERE 1=1
			AND a.htmSeq = #{htmSeq}
	</select>
	
	<!-- 로그인 -->
	<select id="selectOneLogin" resultMap="resultMapObj">
	   SELECT
			a.htmId,
		    a.htmPassword
	   FROM
			newjeans.hotelmember a	       
	   WHERE 1=1   
			AND a.htmId = #{htmId}
			AND a.htmPassword = #{htmPassword}
	</select>
	
	<!-- 로그인(세션) 유지 -->
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.htmSeq,
			a.htmId,  
			a.htmUserName  
		FROM
			newjeans.hotelmember a
		WHERE 1=1
			AND a.htmId = #{htmId}
	</select>
	
	<!-- update -->
	<update id="memberUpdate">
		update hotelmember
		set 
		    htmUserName = #{htmUserName},  
	        htmGender = #{htmGender},
	        htmBirth = #{htmBirth},
	        htmId = #{htmId},
	        htmPassword = #{htmPassword},
	        htmPhoneNumber = #{htmPhoneNumber},
	        htmEmail = #{htmEmail},
	        htmAddress = #{htmAddress},
	        htmDetailedAddress = #{htmDetailedAddress},
	        htmZipCode = #{htmZipCode},
	        htmGrade = #{htmGrade},
	        htmRegAgreeContentNy = #{htmRegAgreeContentNy},
	        htmEditMemberDate = now(),
	        htmDelNy = 0,
	        htmDesc = #{htmDesc}
	    where 1=1
	    	and htmSeq = #{htmSeq}
	</update>
	
	<!-- update delete -->
	<update id="uelete">
		UPDATE hotelmember
		SET
	        htmDelNy = 1
	    WHERE 1=1
	    	AND htmSeq = #{htmSeq}
	</update>
	
	<!-- delete -->
	<delete id="delete">
		DELETE FROM hotelmember
		WHERE 1=1
			AND htmSeq = #{htmSeq}
	</delete>
	
	
	
	
	
	
	  
	

</mapper>

