<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ador.infra.restaurant.RestaurantDao">

	<resultMap type="com.ador.infra.restaurant.RestaurantDto" id="restresultMapObj"></resultMap>
	
	<select id="restaurantList" resultMap="restresultMapObj">
		select 
				e.seq,
		        e.brand,
		        e.restaurantName,
		        e.businessHoursStart,
		        e.businessHoursEnd,
		        e.tel,
		        e.internetAddress,
		        e.parkingNy,
		        e.bookNy,
		        e.corkageNy,
		        e.about,
		        e.regDate,
		        e.revDate
		from 
				restaurant e
		order by 
				e.seq desc
	</select>
	
	<insert id="resInsert">
		insert into restaurant (
		  	brand,
		    restaurantName,
		    businessHoursStart,
		    businessHoursEnd,
		    tel,
		    internetAddress,
		    parkingNy,
		    bookNy,
		    corkageNy,
		    about,
		    regDate,
		    revDate
		) values (
		    "양식",
		    "패밀리 레스토랑",
		    "10:00:00",
		    "20:00:00",
		    "02-1111-2222",
		    "ddkfldskfdlds",
		    1,
		    1,
		    0,
		    "hello",
		    now(),
		    now()
		)
		  
	
	</insert>
</mapper> 